.logo {
    font-family: "PT serif", serif;
}
.menu {
    font-family: "Roboto", sans-serif ;
}
.title {
    font-family: "PT serif", serif;
}
.text {
    font-family: "Roboto", sans-serif ;
}
.button {
    font-family: "Roboto", sans-serif ;
}