.menu__item {
    font-family: "Roboto", sans-serif ;
}
.main-content__title {
    font-family: "PT serif", serif;
}
.main-content__text {
    font-family: "Roboto", sans-serif ;
}
.main-content__button {
    font-family: "Roboto", sans-serif ;
}
body {
    margin: 0;
}
.wrapper {
    width: 80%;
    margin: auto;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
.logo {
    width: 190px;
    height: 35px;
    background: url(img/logo.svg);
    /*padding: 40px 0;
    font: bold 24px/31px "pt_serif", Arial, Helvetica, sans-serif;*/
}
    .menu {
    display: flex;
    align-items: center;
    font-family: roboto;
}
.menu__item {
    padding: 0 13px;
}
.menu__item:last-child{
    padding-right: 0;
}
