.logo__title {
    font-family: "PT serif", serif;
}
.menu__item {
    font-family: "Roboto", sans-serif ;
}
.main-content__title {
    font-family: "PT serif", serif;
}
.main-content__text {
    font-family: "Roboto", sans-serif ;
}
.main-content__button {
    font-family: "Roboto", sans-serif ;
}
body {
    margin: 0;
}
.wrapper {
    width: 80%;
    margin: auto;
}
.header {
    display: flex;
    justify-content: space-between;
}
.logo {
    padding: 40px 0 40px 0;
}
.menu {
    display: flex;
    align-items: center;  
}
.menu__item {
    padding: 0 13px;
}
.menu__item:last-child{
    padding-right: 0;
}
